@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    line-height: 150%;
    margin: 0;
    color: #424551;
}
img{
    /* pointer-events:painted; */
}
*{
    padding: 0;
    margin: 0;
}