@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Rubik+Mono+One&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-style: normal;

  line-height: 150%;
  margin: 0;

  --primary: #17696a;
  --success: #03cea4;
  --danger: #ff4242;
  --warning: #f89828;
  --info: #5a87fc;
  --divider-gradient: linear-gradient(
    rgba(218, 219, 221, 0) 0%,
    rgba(218, 219, 221, 0.5) 12.33%,
    #dadbdd 51.91%,
    rgba(218, 219, 221, 0.5) 87.85%,
    rgba(218, 219, 221, 0) 100%
  );
  --gray100: #f9f9f9;
  --gray200: #f4f5f7;
  --gray300: #e5e8ed;
  --gray400: #d7dadd;
  --gray500: #b3b7bc;
  --gray600: #9a9ca5;
  --gray700: #787a80;
  --gray800: #424551;
  --gray900: #1e212c;
  --border-radius: 4px;
  --contentWidth: 1230px;
}
@mixin color($color) {
  color: var($color);
  svg {
    fill: $color;
  }
  * {
    color: $color;
  }
}
a{text-decoration: none}
.gray100 {
  @include color(--gray100);
}
.gray200 {
  @include color(--gray200);
}
.gray300 {
  @include color(--gray300);
}
.gray400 {
  @include color(--gray400);
}
.gray500 {
  @include color(--gray500);
}
.gray600 {
  @include color(--gray600);
}
.gray700 {
  @include color(--gray700);
}
.gray800 {
  @include color(--gray800);
}
.gray900 {
  @include color(--gray900);
}
a.unstyle {
  text-decoration: none;
  color: var(--gray800);
}
.nonselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.box,
button,
input,
select {
  border-radius: 4px;
  border: 1px solid var(--gray400);
}
select {
}
select::after {
  content: "24242>";
  display: inline-block;
  height: 200px;
  width: 200px;
  background: red;
}
input,
select {
  padding: 0 16px 0 16px;
  height: 44px;
  box-sizing: border-box;
  background: none;
}
input[type="number"] {
  padding-left: 16px;
  width: 80px;
}

img {
  /* pointer-events:painted; */
  user-select: none;
}
* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
details {
  &:hover {
    cursor: default;
  }
}
h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}
h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
}
h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
}
h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}
h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}
h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #c4c4c4;
}
button {
  line-height: 300%;
  white-space: nowrap;
  &.filled {
    background: var(--primary);
    border: var(--primary);
    color: white;
  }
  &.empty {
    color: var(--primary);
    border-color: var(--primary);
    background: none;
  }
  &.unstyle {
    //border: none;
    border: 1px solid transparent;
    background: none;
  }
}
.shadow-small {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.shadow-regular {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.shadow-large {
  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1),
    0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.display1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 130%;
}
.display2 {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
}
.display3 {
  font-weight: 900;
  font-size: 56px;
  line-height: 130%;
}
.display4 {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
}
.lead {
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  &.bold {
    font-weight: 700;
  }
}
.large {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  &.bold {
    font-weight: 700;
  }
}
.base {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  &.bold {
    font-weight: 700;
  }
}
.small {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  &.bold {
    font-weight: 700;
  }
}
.extrasmall {
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  &.bold {
    font-weight: 900;
  }
}
.extraextrasmall {
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
  &.bold {
    font-weight: 900;
  }
}
.left {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.down {
  transform: rotate(90deg);
}
.up {
  transform: rotate(-90deg);
}
