$primary: #17696a;
$success: #03cea4;
$danger: #ff4242;
$warning: #f89828;
$info: #5a87fc;
$divider-gradient: linear-gradient(
  rgba(218, 219, 221, 0) 0%,
  rgba(218, 219, 221, 0.5) 12.33%,
  #dadbdd 51.91%,
  rgba(218, 219, 221, 0.5) 87.85%,
  rgba(218, 219, 221, 0) 100%
);
$gray100: #f9f9f9;
$gray200: #f4f5f7;
$gray300: #e5e8ed;
$gray400: #d7dadd;
$gray500: #b3b7bc;
$gray600: #9a9ca5;
$gray700: #787a80;
$gray800: #424551;
$gray900: #1e212c;
